@media (max-width:991px) {

    header {
        padding: 2rem;
    }

    .features {
        flex-direction: column;
    }

    .ft__box {
        position: relative;
    }

    .services {
        margin-top: 100%;
    }

    .services__title {
        margin-top: 30px;
    }
    .services__tagline {
        text-align: center;
        font-weight: 400;
        font-size: .8rem;
        margin-bottom: 1rem;
        color: #707070;
    }

    .services__card-area {
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        margin: 0 auto;
        grid-gap: 25px;
    }

    .services__card {
        width: 100%;
        height: 362px;
    }

    .services__card img {
        width: 100%;
    }
}

@media (max-width:768px) {

    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: .1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }

    .features {
        flex-direction: column;
    }

    .ft__box {
        position: relative;
    }

    header.sticky {
        background: #222;
        padding: 15px 50px;
    }


    .services {
        margin-top: 100%;
    }

    .services__title {
        margin-top: 30px;
    }
    .services__tagline {
        text-align: center;
        font-weight: 400;
        font-size: .8rem;
        margin-bottom: 1rem;
        color: #707070;
    }

    .services__card-area {
        display: grid;
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        margin: 0 auto;
        grid-gap: 25px;
    }

    .services__card {
        width: 100%;
        height: 362px;
    }

    .services__card img {
        width: 100%;
    }


.about {
    margin-top: 100px;
    background-image: url(../img/about-image.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 150px 0 80px 0;
}

.about__us {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 50px;
    left: 50px;
    top: -60px;
}
.about__headline {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 10px;
}
.about__headline-content {
    padding: 0 20px;
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 30px;
}
.about__content {
    padding: 0 20px;
    font-weight: 400;
    font-size: .9rem;
    color: var(--white-color);
    line-height: 1.5rem;
}
}