@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
      --main-color: #2D5FDE;
      --white-color: #ffffff;
}

* {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-transform: capitalize;
      outline: none;
      border: none;
      text-decoration: none;
      transition: all .2s linear;
}

*::selection {
      background: var(--main-color);
      color: #fff;
}

.btn {
      display: inline-block;
      margin-top: 1rem;
      background: var(--main-color);
      color: #fff;
      padding: .8rem 2rem;
      border: 2px solid var(--main-color);
      cursor: pointer;
      font-size: .8rem;
      border-radius: 30px;
}

.btn:hover {
      background: transparent;
      color: var(--white-color);
}
.btn2 {
      display: inline-block;
      margin-top: 1rem;
      background: transparent;
      color: #fff;
      padding: .8rem 2rem;
      border: 2px solid var(--white-color);
      cursor: pointer;
      font-size: .8rem;
      border-radius: 30px;
      margin-left: 20px;
}

.btn2:hover {
      background: var(--main-color);
      color: var(--white-color);
      border-color: var(--main-color);
}

header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background:transparent;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 9%;
}

header.sticky {
      background: #222;
      padding: 15px 100px;
}

header .logo {
      width: 100px;
}

header .navbar a {
      color: #fff;
      font-size: 1rem;
      margin: 0 .8rem;
}

header .navbar a:hover {
      color: var(--main-color);
}

#menu-bar {
      color: #fff;
      border: .1rem solid #fff;
      border-radius: .5rem;
      font-size: 1rem;
      padding: .5rem 1rem;
      cursor: pointer;
      display: none;
}

.home {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      flex-flow: column;
      position: relative;
      z-index: 0;
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../img/home-banner.png);
      padding: 2rem 9%;
}

.home .content h3 {
      font-weight: 700;
      font-size: 3rem;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
      margin-bottom: 20px;
}

.home .content p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #fff;
      padding: .5rem 0;
      margin-bottom: 30px;
}

.home .img-container img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.features {
      height: 220px;
      display: flex;
      position: relative;
}
.ft__box img{
      width: 100%;
}
.ft__content {
      display: flex;
      position: absolute;
      top: 25%;
      padding-left: 40px;
}
.ft__content img {
      width: 60px;
      height: 60px;
}
.ft__inner-text {
      margin-left: 30px;
}
.ft__inner-text  h3 {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.6;
      color: var(--white-color);
}
.ft__inner-text p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.6;
      color: var(--white-color);
}
.services {
      margin-top: 40px;
}

.service__title {
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 15px;
      color: #222;
}
.services__tagline {
      text-align: center;
      font-weight: 400;
      font-size: 1rem;
      color: #707070;
}
.services__card-area {
      display: grid;
      width: 80vw;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      margin: 50px auto 0 auto;
      grid-gap: 25px;
}
.services__card {
      width: 326px;
      height: 362px;
      border: px solid black;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
}
.services__card-content {
      padding: 15px 0 0 30px;
}
.services__card-content h3 {
      font-weight: 700;
      font-size: 1.2rem;
      color: var(--main-color);
      margin-bottom: 10px;
}
.services__card-content p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4rem;
      color: #222;
}